{% extends "layout.html" %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="text-black-important"><i class="fas fa-car"></i> {{ config.botname }}</h1>
        <h2 class="text-black-important">{{ config.subtitle }}</h2>
    </div>
</div>
<div class="container mt-4">
    <div id="responses" class="alert alert-success" role="alert">
       {{ config.message }}
    </div>

    <form method="POST" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="input">Pergunte ao {{ config.botname }}:</label>
            <input type="text" value="{{ config.input }}" id="input" name="input" class="form-control" placeholder="Digite sua pergunta aqui..." required>
            <div class="invalid-feedback">
                Por favor, insira uma pergunta.
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary btn-lg" value="Enviar">
        </div>
    </form>
    <div class="form-group mt-4">
        <label for="context">Contexto da Busca Vetorial:</label>
        <textarea id="context" class="form-control" rows="5" readonly>{{ config.context }}</textarea>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}